.main-list {
  margin: 10px auto;
  min-width: 650px;
  max-width: 800px;
  background-color: whitesmoke;
  border: black 1.5px solid;
  text-align: center;
  line-height: 40px;
  .filter {
    display: flex;
    width: 550px;
    margin: 0 auto 10px;
    justify-content: space-around;
    &:after {
      content: none;
    }
  }
  .table {
    font-size: small;
    margin-bottom: 0;
    th {
      padding: 0;
      text-align: center;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
    }
    .active {
      background-color: gainsboro;
      cursor: pointer;
    }
    td {
      padding: 0;
      border-bottom: 1px solid gray;
      .number {
        font-size: 18px;
      }
    }
  }
  .paginate {
    padding-left: 20px;
  }
}
