= render 'layouts/flash-message'
.wrapper
  .side-content
    .side-bar
      = render "products/search-form"
      = render "products/product-design"

  .main-content
    = render "products/dummy-form"
