%input.comment-area__main-area{value: "#{@datum_comment}""#{@datum_image}", readonly: "readonly"}
.comment-area__sub-area
  記入日：
  %input.output{value: "#{@datum_created_at}", readonly: "readonly"}
  担当者：
  %input.output{value: "#{@datum_name}", readonly: "readonly"}
