.main-content__product-data
  .menu
    #manufacturing.menu__tab.active
      製造情報
    #sales.menu__tab
      営業情報

  .contents
    .contents__manufacturing.content.show
      = render "production_datum"
      = render "inspection_datum"
    .contents__sales.content
      = render "evaluation_datum"
