.side-bar__search-form
  = form_with(url: search_products_path, local: true, method: :get) do |form|
    .search.clearfix
      .search__input
        製品番号
        = form.text_field :number, class: "input-form"
      = form.submit "検索", class: "search__btn btn"
