.side-bar__sub-list
  .sub-list
    = @product&.client&.campany
    の製品
    %table.table
      %tbody
        - @products.each do |product|
          %tr.product{data_link: product_path(product)}
            %td
              .number
                = product.number
